---
layout: default
pagination:
  enabled: true
---
<!-- The main content area -->
<div class="posts">
  <div class="grid-xlarge">
    <div class="">
      <h2 style="text-align: center;">My Work</h2>
      <br>
      <div class="grid" style="display: flex; flex-wrap: wrap; align-items: center; justify-content: center;">
        <ul class="header__list">
          <li>
            <a href="/tag/data-science">Data Science</a>
          </li>
          <li>
            <a href="/tag/web-development">Web Development</a>
          </li>
          <li>
            <a href="/tag/cartography">Cartography</a>
          </li>
        </ul>
      </div>
    </div>

    <hr class="sep--black">


    <div class="posts__container" itemscope itemtype="http://schema.org/Blog" data-columns>


      {% for post in paginator.posts %}

        <!-- The tag below includes the markup for each post - partials/post-card.html -->
        {% include post-card.html %}

      {% endfor %}
    </div>
  </div>

  {% include pagination.html %}
</div>
