<!-- The footer at the very bottom of the screen -->
<footer class="footer section-padding">
  <div class="grid">

    <hr class="sep--white"/>

    <div class="footer__container">
      <ul class="footer__tags">
        <li>
          <a class="footer__link" href="/tag/DataScience">Data Science</a>
        </li>
        <li>
          <a class="footer__link" href="/tag/WebDevelopment">Web Development</a>
        </li>
        <li>
          <a class="footer__link" href="/tag/Cartography">Cartography</a>
        </li>
      </ul>

      {% include social.html %}
    </div>
  </div>
</footer>

{% include contact.html %}

{% if paginator.next_page %}
  <script>
    var maxPages = parseInt('{{ paginator.total_pages }}');
  </script>
{% endif %}

<script src="{{ '/assets/js/app.min.js' | prepend: site.baseurl }}"></script>
