body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: hsl(38,0%,40%);
	margin: auto;
	width: 100vw;
	height: 100vh;
}

html {scroll-behavior: smooth}

.section{
	width: 99vw;
	min-height: 100vh;
	/*height: 100vh;*/
	margin: auto;
	text-align: center;
	padding-top: 5%;
}

#mainpage {
	height: 100vh;
	width: 100vw;
	background: url("../images/contours.png")
}

#headingbox {
 			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 50%;
			min-width: 328px;
			background-color: hsl(38, 100%, 70%);
			text-align: center;
			font-size: 3em;
			color:White;
			margin: auto;
}

#headingbox h1{
	letter-spacing: 12px;
	font-size: 1.5em;
}

#headingbox h4{
	letter-spacing: 5px;
	font-size: 0.5em;
}

#navbar {
	width: 100vw;
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid hsl(38,100%,60%);
	background-color: white;
	font-weight: bold;
	list-style-type: none;
	letter-spacing: 1.5px;
}

#navbar a{
	-webkit-transition-duration: 0.8s; /* Safari */
	transition-duration: 0.8s;
	flex: auto;
	text-align: center;
	font-size: 1.5em;
	padding: 0.5em;
	color: hsl(38, 100%, 60%);
	text-decoration: none
}

#navbar a:hover {
	background-color: hsl(38, 100%, 60%);
	color: White;
}

#aboutflex{
	display: flex;
	-webkit-flex: 1
	-ms-flex: 1;
	flex-grow: 1;
	flex-shrink: 1;
	justify-content: space-evenly;
	list-style-type: none;
	flex-direction: row;
	flex-wrap: wrap;
}

#aboutflex img{
	margin: auto;
	border-radius: 50%;
	width: 550px;
	height: 550px;
}

#aboutflex p{
	margin: auto;
	font-size: 24pt;
	letter-spacing: 1.5px;
	text-align: left;
	width: 550px;
}

#skillsflex{
	display: flex;
	-webkit-flex: 1
	-ms-flex: 1;
	flex-grow: 1;
	justify-content: space-around;
	list-style-type: none;
	flex-wrap: wrap;
}

#skillsflex li{
	min-width:33%
}

#skillsheader{
	font-weight: bold;
	font-size: 135%;
	font-style: italic;
	letter-spacing: 1.75px;
}

#skillsflex i{
	font-size: 2em;
	color: hsl(38, 100%, 60%)
}

#contactflex{
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	margin: auto;
	height: 50vh;
}

#contactflex li{
	list-style-type: none;
	margin: auto;
}

#contact a{
	text-decoration: none;
	color: hsl(38,100%,60%);
	background-color: Transparent;
	font-size: 5vw;
	padding: 5%;
}


.content {
	background-color: white;
	font-size: 1em;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100vw;
}

h3 {
	font-size: 35px;
	text-align: center;
	color: hsl(38, 100%, 60%);
	letter-spacing: 3px;
	text-decoration: underline;

}
