body {
	font-family: Arial, Helvetica, sans-serif;
	color: hsl(38,0%,40%);
	margin: auto;
	width: 100vw;
	height: 100vh;
}
.section{
	width: 85vw;
	margin: auto;
	text-align: center;
	padding-top: 9%;
}

#mainpage {
	height: 100vh;
	width: 100vw;
	background: url("../images/contours.png")
}

#headingbox {
 			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 50%;
			background-color: hsl(38, 100%, 70%);
			text-align: center;
			font-size: 3em;
			color:White;
			margin: auto;
}

#headingbox h1{
	letter-spacing: 12px;
	font-size: 1.5em;
}

#headingbox h4{
	letter-spacing: 5px;
	font-size: 0.5em;
}

#navbar {
	width: 100vw;
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid hsl(38,100%,60%);
	background-color: white;
	font-weight: bold;
	list-style-type: none;
	
}

#navbar a{
	flex: auto;
	text-align: center;
	font-size: 2em;
	padding: 0.5em;
	color: hsl(38, 100%, 60%);
	text-decoration: none
}


#navbar a:hover {
	background-color: hsl(38, 100%, 60%);
	color: White;
}

#about img{
	border-radius: 50%
}

#skillsflex{
	display: flex;
	-webkit-flex: 1
	-ms-flex: 1;
	flex-grow: 1;
	justify-content: space-around;
	list-style-type: none;
}

#skillsflex li{
	width:25%
}

#skillsheader{
	font-weight: bold;
	font-size: 125%;
	font-style: italic
}

#skillsflex i{
	font-size: 2em;
	color: hsl(38, 100%, 60%)
}


#mapid {
	height: 75vh;
	width: 75%;
	margin:auto;
}
#contactflex{
	display: flex;
	justify-content: space-around;
}

#contactflex li{
	width: 33%;
	list-style-type: none;
}

#contact i{
	color: hsl(38,100%,60%);
	font-size: 2em
}

.content {
	background-color: white;
	font-size: 1em;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100vw;
}

h3 {
	font-size: 35px;
	text-align: center;
	color: hsl(38, 100%, 60%);
	letter-spacing: 3px;
	text-decoration: underline;
	
}
